<!DOCTYPE html>
<html>
  <main>
    <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="../javascripts/page-transitions.js"></script>
    </head>
    <body>
      <h1><%= title %></h1>
      <p>Flag Viewer will help you decide on how you want your flags displayed.</p>
      <img class="home-image" src="https://flag-company.web.app/theEye.png">
      <div class="button-container">
        <button onclick="window.location.href='/prototype_1'">
          <span>Go to Prototype 1</span>
        </button>
    
        <button onclick="window.location.href='/prototype_2'">
          <span>Go to Prototype 2</span>
        </button>
    
        <button onclick="window.location.href='/prototype_3'">
          <span>Go to Prototype 3</span>
        </button>
      </div>
    </body>
  </main>
</html>
